@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model GarageManagement.Models.ViewModels.AddIncidentViewModel

<h1>Edit Incident</h1>
@if (Model is null)
{
    <p>no incident found</p>
}
@if (Model is not null)
{
    <form method="post">
        <div class="mt-3">
            <label class="col-form-label">Incident id</label>
            <input type="text" class="form-control" asp-for="IncidentId" readonly />
            <label class="col-form-label">Date Reported</label>

            <input type="text" class="form-control" asp-for="DateReported" />
            <label class="col-form-label">Description</label>
            <input type="text" class="form-control" asp-for="Description" />
            <label class="col-form-label">Status</label>
            <select class="form-control" asp-for="Status">
                @foreach (var status in Enum.GetValues(typeof(GarageManagement.Models.Enums.IncidentStatus)))
                {
                    <option value="@status">@status</option>
                }
            </select>
            <label class="col-form-label">SeverityLevel</label>
            <select class="form-control" asp-for="SeverityLevel">
                @foreach (var severityLevel in Enum.GetValues(typeof(GarageManagement.Models.Enums.SeverityLevel)))
                {
                    <option value="@severityLevel">@severityLevel</option>
                }
            </select>

            <label class="col-form-label">Vehicles</label>
            <select class="form-control" asp-for="VehicleId" asp-items="@(new SelectList(Model.Vehicles, "VehicleId", "Make"))">
                <option value="">Select Vehicles</option>
            </select>

            <button type="submit" class="btn btn-outline-primary">Save</button>
            <button type="submit" class="btn btn-danger"
                    asp-action="Delete"
                    asp-controller="Incident">
                Delete
            </button>
        </div>
    </form>
}